name: test

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Set up Go
        uses: actions/setup-go@v3
        with:
          go-version: 1.23.4

      - name: Setup LCOV
        uses: hrishikesh-kadam/setup-lcov@v1

      - name: Setup Bazel
        uses: bazel-contrib/setup-bazel@0.15.0
        with:
          # Avoid downloading Bazel every time.
          bazelisk-cache: true
          # Store build cache per workflow.
          disk-cache: ${{ github.workflow }}
          # Share repository cache between workflows.
          repository-cache: true

      - uses: actions/checkout@v4.2.2

      - name: Test
        run: make test

      - name: Build
        run: make build

      - name: Coverage
        run: make coverage

      - name: Publish code cov
        uses: actions/upload-artifact@v5
        with:
          name: code covarege report
          path: genhtml/